<!DOCTYPE html>
<html>
  <head>
    <title>Python URL Shortener</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Python URL Shortener</h1>
      </div>
    </header>
    <div class="container">
      {% if error %}
      {% block error %}
      {% endblock %}
      {% endif %}
      {% block content %}
      {% endblock %}
      {% block response %}
      {% endblock %}
    </div>
  </body>
</html>